<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form action="/login" method="POST">
            <div><label for="">Tên đăng nhập</label><input type="text" name="username"></div>
            <div><label for="">Mật khẩu</label><input type="text" name="password"></div>
            <button type="submit">Login</button>
        </form>
    </body>
</html>